name: Hello GitHub Actions

on:
  push:
    branches: [main]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Hello, GitHub Actions!"

      - name: Show Python version
        run: python3 --version

      - name: This will fail
        run: exit 1